.image_container {
  width: 100%;
  position: relative;
}
.container {
  display: flex;
  padding: 40px 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .image_container {
    width: 300px;
    height: 300px;
  }
}
