.image_container {
  width: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
}

.copy {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .image_container {
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .image_container {
    width: 50%;
  }

  .copy {
    width: 50%;
    padding: 0 40px 40px;
  }

  .container {
    flex-direction: row;
  }
}
