.container {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex__item {
  flex-grow: 1;
}

.title {
  color: white;
  background: #222222;
  width: fit-content;
  margin: 0;
  padding: 0.4rem 0.7rem;

  font-weight: 900;
  font-size: 2rem;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  width: 100%;
  font-size: 0.8rem;
}

ul li {
  margin: 0 0.8rem;
}

ul li a:hover {
  transition: 300ms ease-in-out;
}

ul li a:hover {
  background: black;
  color: white;
}

ul li:last-child {
  margin-right: 0;
}

ul li a {
  text-decoration: none;
  color: inherit;
  padding: 0.3rem;
  font-weight: 700;
  color: #999999;
}
.active {
  color: black;
}
a {
  text-decoration: none;
}

.mobilebutton {
  color: white;
  background: none;
  border: none;
}
.mobilebutton__span {
  box-sizing: border-box;
  display: block;
  width: 20px;
  height: 2px;
  background: black;
  margin-bottom: 5px;
}

.mobilenav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: white;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobilenav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  height: 30%;
}

.mobilenav ul li {
  font-size: 4rem;
}

.buttonclose {
  color: white;
  height: 25px;
  width: 25px;
  background: none;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.buttonclose:focus {
  outline: none;
}

.buttonclose__span {
  box-sizing: border-box;
  display: block;
  width: 20px;
  height: 2px;
  background: black;
  transform: rotate(45deg);
  position: absolute;
}
.buttonclose__span:first-child {
  transform: rotate(-45deg);
}

@media screen and (min-width: 768px) {
  .nav ul {
    font-size: 1.2rem;
  }
}
