.container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: solid 2px rgb(243, 243, 243);
}

.imageContainer {
  width: 100%;
}

.player {
  position: relative;
  height: fit-content;
}

.btn {
  color: #222222;
  background: none;
  height: 50px;
  width: 50px;
  outline: none;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98.5%;
  background: black;
  opacity: 0.6;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  height: 50%;
  width: 50%;
  outline: none;
  background: none;
  border: none;
}
.button:focus {
  outline: none;
  background: none;
}

.button:hover {
  outline: none;
  cursor: pointer;
  background: none;
}

.image {
  margin: 0;
}
button {
  color: white;
}

.information {
  width: 100%;
}
.title {
  margin-top: 0.5rem;
}

.button__image {
  margin: 0;
}

.summary {
  padding-right: 40px;
}

.playButton {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: none;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: center;
  }
  .imageContainer {
    width: 200px;
  }

  .information {
    width: 65%;
  }
}

@media screen and (min-width: 1024px) {
  .buttons {
    opacity: 0;
    transition: 300ms ease-in-out;
    height: 96.5%;
  }

  .buttons:hover {
    opacity: 0.6;
    cursor: pointer;
    outline: none;
  }
}
